/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

html {
    height: auto !important;
}

.p-t-n {
    padding-top: 0 !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pull-right{
	text-align: right;
}