html,
body {
    background: url(/images/wallpaper3.jpg);
    background-attachment: fixed;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Exo2-Light;
    letter-spacing: -1mm;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.opacity {
    height: 100%;
    position: fixed;
    background: rgba(25, 25, 25, .5);
    width: 100%;
    z-index: 1;
}

@font-face {
    font-family: Exo2-Light;
    src: url(/fonts/Exo2-Light.otf);
}

@font-face {
    font-family: Exo2-ExtraBold;
    src: url(/fonts/Exo2-ExtraBold.otf);
}

.font-white {
    color: #fff;
}

.font-height-md {
    line-height: 0.5;
}

.font-36 {
    font-size: 36px;
}

.font-66 {
    font-size: 66px;
}

.Exo2-ExtraBold {
    font-family: Exo2-ExtraBold;
}

.inline-block {
    display: inline-block;
}

.v-middle {
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.height-100 {
    height: 100%;
}

.p-l-32 {
    padding-left: 32px;
}

.p-r-32 {
    padding-right: 32px;
}

.absolute {
    position: absolute;
}


/* .info-container {
    bottom: 0; */


/* left: 0; */


/* position: absolute; */


/* right: 0; */


/* text-align: center; */


/* top: 0; */


/* }

.info-container:before {
    content: ' '; */


/* display: inline-block; */


/* height: 100%; */


/* vertical-align: middle; */


/* }

.info-container img {
    display: inline-block; */


/* vertical-align: middle; */

.wrap {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -125px;
}

.social {
    z-index: 10;
    height: 155px;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.social a {
    margin: 10px;
}

.l {
    float: left;
}

.r {
    float: right;
}

.l,
.r {
    width: 49%;
}

.l:before,
.r:before {
    content: "";
    width: 125px;
    height: 250px;
}

.l:before {
    float: right;
}

.r:before {
    float: left;
}