html,
body {
    /* background: url(../images/wallpaper3.jpg); */
    background-attachment: fixed;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    font-family: Exo2-Light;
    height: 100%;
    letter-spacing: -1mm;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.fadeInOut {
  animation: fadeIn 1s;
}

.fadeInOut.ng-leave {
  animation: fadeOut 1s;
}

.zoomInOutLeft {
  animation: zoomInLeft 1s;
}

.zoomInOutLeft.ng-leave {
  animation: zoomOutLeft 1s;
}

.zoomInOutRight {
  animation: zoomInRight 1s;
}

.zoomInOutRight.ng-leave {
  animation: zoomOutRight 1s;
}

.bounceInOutUp {
  animation: bounceInUp 1s;
}

.bounceInOutUp.ng-leave {
  animation: bounceOutUp 1s;
}

@font-face {
    font-family: Exo2-Light;
    src: url(../fonts/Exo2-Light.otf);
}

@font-face {
    font-family: Exo2-ExtraBold;
    src: url(../fonts/Exo2-ExtraBold.otf);
}

.Exo2-ExtraBold {
    font-family: Exo2-ExtraBold;
}

.font-white {
    color: #fff;
}

.font-height-md {
    line-height: 0.5;
}

.font-36 {
    font-size: 36px;
}

.font-66 {
    font-size: 66px;
}

.inline-block {
    display: inline-block;
}

.v-middle {
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.height-100 {
    height: 100%;
}

.absolute {
    position: absolute;
}

.wrap {
    height: 250px;
    left: 50%;
    margin-left: -125px;
    position: absolute;
    top: 0;
    width: 250px;
}

.social {
    bottom: 0;
    display: block;
    height: 155px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.social a {
    margin: 10px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.right.carousel-control,
.left.carousel-control,
.carousel-indicators {
    opacity: 0;
    filter: alpha(opacity=0);
    /* IE support */
}

.fill {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.opacity {
    background: rgba(25, 25, 25, .15);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}